<p-table [value]="dataSource" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Codigo</th>
            <th>Descricao</th>
            <th>Valor</th>
            <th>Data</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.idproduto }}</td>
            <td>{{ product.codigoproduto }}</td>
            <td>{{ product.descricaoproduto }}</td>
            <td>{{ product.valorproduto }}</td>
            <td>{{ product.datacadastroproduto }}</td>
        </tr>
    </ng-template>
</p-table>

